In [59]:
import mysql.connector as connector

In [60]:
connection = connector.connect(
    user = "coursera_user", 
    password = "coursera_user", 
    db = "little_lemon_db"
)

In [61]:
cursor = connection.cursor()

In [62]:
show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)

In [63]:
results = cursor.fetchall()
for item in results:
    print(item)

('booking_staff',)
('bookings',)
('cuisine',)
('customers',)
('delivery',)
('menu_item_sections',)
('menu_items',)
('order_items',)
('orders',)
('staff',)

In [78]:
customer_spending_query = """
SELECT
    CONCAT(c.first_name, " ", c.last_name) AS Customer,
    c.phone AS Phone,
    c.email AS 'E-mail',
    SUM(mi.price * oi.quantity) AS bill_total
FROM customers   AS c
JOIN bookings    AS b  ON c.id_customers  = b.fk_customer
JOIN orders      AS o  ON b.id_booking    = o.fk_booking_id
JOIN order_items AS oi ON o.id_orders     = oi.fk_order
JOIN menu_items  AS mi ON oi.fk_menu_item = mi.id_menu_item
GROUP BY Customer, Phone, c.email
HAVING bill_total >= 60;
"""
cursor.execute(customer_spending_query)

In [79]:
results = cursor.fetchall()
print(f" Customer           | Phone              | E-mail                     | Total Spending")
for item in results:
    print(f"  {item[0]:<15}    {item[1]:<16}     {item[2]:<26}     ${item[3]:>5}")

 Customer           | Phone              | E-mail                     | Total Spending
  Hank Wilson        3997226001           hank.wilson@test.org           $107.00
  Grace Nelson       1439889364           grace.nelson@example.com       $306.00
  Grace Walker       3619034772           grace.walker@example.com       $67.50
  Amelia Roberts     6733735193           amelia.roberts@mail.com        $66.00
  Mason Robinson     8221000436           mason.robinson@example.com     $62.00
  Alice Lewis        1154165942           alice.lewis@test.org           $66.00
  Nancy Wilson       2302418051           nancy.wilson@mail.com          $61.50
  Daniel King        3442538420           daniel.king@example.com        $113.50
  Tina Martinez      7574967875           tina.martinez@test.org         $103.50
  David Smith        2475049819           david.smith@mail.com           $190.00